<h1>🌤 Weather Settings</h1>

<div class="card">

    <h2>Location</h2>

    <label>City</label>
    <input
        type="text"
        id="city"
        placeholder="Langley">

    <br><br>

    <label>Latitude</label>
    <input
        type="number"
        id="latitude"
        step="0.000001">

    <br><br>

    <label>Longitude</label>
    <input
        type="number"
        id="longitude"
        step="0.000001">

    <br><br>

    <button id="saveWeather">
        💾 Save Weather Settings
    </button>

</div>
